.userForm{
  width: 30%;
  font-size: 16px;
  background: #4d8fac;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
  margin: 0 auto;
}

.userForm input[type=submit],
.userForm input[type=text]
{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #0C0C0C;

}

.userForm label {
  display:block;
  margin-bottom: 10px;
  color: aliceblue;
}

.popup-outer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.popup-inner {
  background-color: #fff;
  margin: 100px auto 0;
  padding: 15px;
  width: 500px;
}

.wizard {
  float: right;
  margin-right: 5%;
}

.link {
  margin-left: 5%;
}

.error {
  color: firebrick;
}